.formControl textarea{
    border-radius: 5px;
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border-radius: 5px;
    border: solid rgb(248, 25, 25) 1px;
    padding: 5px;
    color: rgb(248, 25, 25)
}