.userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 40px;
}

.userItem {
    width: 150px;   
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    background: lavender;
    border-radius: 5px;
}

.userAvatar {
    width: 150px;
    height: 120px;
    border-radius: 50%;
}

.selectedPage {
    font-weight: bold;
}

.selector {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}