.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}

.header img {
    width: 55px;
}

.header button {
    margin-right: 15px;
}