/* .app-wrapper-header {
    display: grid;
    max-width: 100%;
    grid-template-areas:
    'h h';
    grid-row: 1fr;
} */

.app-wrapper {
    margin: 0 auto;
    display: grid;
    /* max-width: 1200px; */
    grid-template-areas:
    "h h h h h h h h h"
    ". . n c c c c . ."
    ". . n c c c c . ."
    ". . f c c c c . ."
    ". . . c c c c . .";
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 60px;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(188, 197, 209);
    border-radius: 20px;
    padding: 10px;
}

.app-wrapper-content img {
    width: 100%;
    border-radius: 20px;
}