.friendItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.friendAvatar {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}